@font-face {
  font-family: "siteFont";
  src: url("../fonts/iranYekan/iranyekanwebregularfanum.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-y-scroll;
  direction: rtl;
  font-family: "siteFont", serif !important;
  font-size: var(--font-size);
  @apply bg-[#f1f1f1] dark:bg-[#2a2c2c] text-justify;
  @apply text-gray-600;
}

/* base class */
.news-title {
  @apply  font-semibold text-gray-800 leading-6 hover:text-lime-600
}
.news-subtitle {
  @apply text-xs text-gray-400
}
.news-text {
  @apply text-justify text-xs text-gray-500 leading-6
}

/* Custom Swiper styles */
.carousel .swiper-slide,
.carousel1 .swiper-slide {
  @apply opacity-0 transition-opacity duration-300;
}
.carousel .swiper-slide.swiper-slide-visible,
.carousel1 .swiper-slide.swiper-slide-visible {
  @apply opacity-100;
}
.swiper-button-disabled {
  @apply opacity-50 cursor-default pointer-events-none;
}
/* .testimonial-carousel .swiper-slide {
  @apply opacity-0 transition-opacity duration-300;
}
.testimonial-carousel .swiper-slide.swiper-slide-visible {
  @apply opacity-100;
}
.swiper-pagination-bullet {
  @apply bg-gray-300 opacity-100;
}
.swiper-pagination-bullet-active {
  @apply bg-blue-400;
} */

.low {
  @apply text-red-500
}
.low::before {
	content: '\2039';
	display: inline-block;
	left: 10px;
	position: relative;
	transform: rotate(90deg);
}

.high {
  @apply text-green-500
}

.high::before {
	content: '\2039';
	display: inline-block;
	left: 10px;
	position: relative;
	transform: rotate(-90deg);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: theme('colors.stone.100');
  ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.stone.300');
  ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.stone.400');
  ;
  border-radius: 10px;
}


.gridClass {
  width: 290px;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .gridClass {
    width: 345px;
  }
}
@media (min-width: 425px) {
  .gridClass {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .gridClass {
    width: 720px;
  }
}
@media (min-width: 1024px) {
  .gridClass {
    width: 924px;
  }
}
@media (min-width: 1280px) {
  .gridClass {
    width: 1250px;
  }
}
@media (min-width: 1440px) {
  .gridClass {
    width: 1350px;
  }
}
@media (min-width: 2560px) {
  .gridClass {
    width: 1440px;
  }
}